<Page::Header @title="Dashboard" />
<Page::Content>
    <div class="d-flex justify-content-between align-content-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">At a glance</h5>
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-column">
                        <h2 class="p-2">{{this.model.length}}</h2>
                        <div class="p-2 mb-2 text-muted">Customers in pipeline</div>
                    </div>
                    <div class="d-flex flex-column">
                        <h2 class="p-2">{{format-currency this.totalBudget}}</h2>
                        <div class="p-2 mb-2 text-muted">Total forecasted budget</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Top prospects</h5>
                {{#if this.viewButton}}
                <ProspectTable @model={{this.topFive}} />
                {{else}}
                <ProspectTable @model={{this.sortedCustomersTopProspects}} />
                {{/if}}
                <button type="button" {{on "click" this.viewButtonPressed}}>View all</button>          
            </div>
        </div>
    </div>
</Page::Content>